
.projects {
  /* background-image: url("https://i.ibb.co/Gnn3H0Q/flower-from-concrete-1.jpg"); */
  background-image: url("https://i.ibb.co/tbx81bJ/daisy-on-railroad-track-jpg-1145x0-q71-crop-scale-1.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}