header nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(129, 122, 122, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

.link {
  color: rgb(25, 248, 62);
  font-size: large;
  font-weight: 600;
}